extends layout 

block content 
  h1= title 

  if genre_list.length 
    ul.list-group 
      each genre in genre_list 
        li.list-group-item
          a(href=genre.url) #{genre.name}
  else
    p There are no genres.